.product-container {
  display: grid;
  grid-template-columns: 13rem 1fr;
  height: 100%;
  position: relative;
}

.product-container main {
  margin: 0 0.5rem;
}

.alert {
  text-align: center;
}

main .product-number {
  text-align: center;
}

.product-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  place-items: center;
  grid-gap: 2rem;
}

@media screen and (max-width: 750px) {
  .product-container {
    grid-template-columns: 1fr;
    grid-template-rows: 4.5rem 1fr;
    margin-top: 1rem;
  }
}
