.profile-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0.5rem 0;
}

.card-container {
  background-color: var(--filter-bar-color);
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.navlinks-profile-container {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--tertiary-color);
  font-size: 1.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navlinks-profile {
  text-decoration: none;
  color: var(--secondary-color);
  margin: 0;
  padding: 1rem 1.5rem;
}

.navlinks-profile:hover {
  color: var(--gray-shade);
}

.active-profile {
  color: var(--primary-color);
  font-weight: bold;
}
