.category-card {
  text-align: center;
  background-color: var(--card-color);
  padding: 1rem 2rem;
  /* border: 3px solid var(--fourth-color); */
  border: 3px solid var(--primary-color);
  margin: 1rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category-card a {
  text-decoration: none;
  color: inherit;
}

.category-card p {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.card-img {
  width: 10rem;
  transition: all 0.3s ease;
}

.active-card-img {
  filter: blur(5px);
}

.card-img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .card-img:hover {
    transform: none;
  }
}
