@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #42944c;
  --secondary-color: #fff;
  --tertiary-color: #000;
}

body {
  background: linear-gradient(
    135deg,
    rgba(195, 227, 211, 1) 0%,
    rgba(223, 227, 226, 1) 100%
  );
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr 3rem;
  height: 100vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
