@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #42944c;
  --secondary-color: #fff;
  --tertiary-color: #000;
  --fourth-color: #400480;
  --card-color: #e8f2ef;
  --filter-bar-color: #f1f8f6;
  --gray-shade: #64748b;
  --light-purple: rgb(154, 128, 197);
  --dark-green: #208854;
}

body {
  background: linear-gradient(
    135deg,
    rgba(195, 227, 211, 1) 0%,
    rgba(223, 227, 226, 1) 100%
  );
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}
