.product-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail-card {
  display: flex;
  gap: 1rem;
}

.img-container {
  padding: 0.75rem;
  background-color: var(--card-color);
  position: relative;
}

.product-detail-card img {
  width: 20rem;
  height: 30rem;
  object-fit: contain;
  background-color: #fff;
}

.details-container {
  padding: 0.75rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
}

.details-container h1,
.details-container p {
  margin: 0;
}

.rating-and-reviews {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0 1rem;
  color: var(--gray-shade);
  align-items: center;
}

.rating-and-reviews .rating {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 5px 8px;
  font-weight: bold;
}

.rating svg {
  vertical-align: -1.5px;
}

.details-container .price {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray-shade);
}

.price span {
  margin-left: 1rem;
  text-decoration: line-through;
  color: var(--gray-shade);
  font-size: 1rem;
}

.details-container > p:nth-child(5) {
  text-align: justify;
}

.details-container > p:nth-child(5) span {
  font-weight: bold;
}

.add-cart-btn {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  width: 100%;
  margin-top: auto;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
}

.add-cart-btn:hover {
  color: var(--light-purple);
}

.disabled-cart-btn {
  cursor: not-allowed;
  opacity: 0.5;
}

.added-cart-btn {
  color: var(--secondary-color);
}

.wishlist-icon {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: var(--fourth-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px;
  border-bottom-left-radius: 6px;
  cursor: pointer;
}

.disabled-wishlist-icon {
  cursor: not-allowed;
}

.added-wishlist-icon {
  color: var(--primary-color);
}

.wishlist-icon:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 750px) {
  .product-detail-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .product-detail-card img {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    background-color: #fff;
  }

  .add-cart-btn {
    margin-top: 1rem;
  }

  .details-container {
    padding: 0.75rem;
    width: 21rem;
    display: flex;
    flex-direction: column;
  }

  /* .details-container > p:nth-child(5) {
    text-align: justify;
    align-self: center;
  }

  .details-container > p:nth-child(5) span {
    font-weight: bold;
  } */
}
